<div data-bind="visible: canVisibleBlock">
    <div class="opc-shipping-additional">
        <div class="payment-option-title field choice" data-role="title">
            <span class="action action-toggle" role="heading" aria-level="2">
                <h3>Please Note:</h3>
            </span>
        </div>
        <div class="payment-option-content" data-role="content">
            <div class="payment-option-inner">
                <div data-bind="html: window.checkoutConfig.info"></div>
            </div>
        </div>
    </div>
</div>