<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="ripen_vantivintegratedpayments" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Worldpay (Vantiv) Integrated Payments</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="company_name" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Company Name</label>
                </field>
                <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Checkout Display Title</label>
                </field>
                <field id="cctypes" translate="label" type="multiselect" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Credit Card Types</label>
                    <source_model>Magento\Payment\Model\Source\Cctype</source_model>
                </field>
                <field id="api_avs_code_whitelist" translate="label" type="text" sortOrder="66" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Approved AVS Response Codes</label>
                    <comment><![CDATA[AVS response codes to be considered as having passed AVS Check, entered as a string (e.g., DMP). An underscore character (_) may be included to allow transactions in the event no AVS response is available.]]></comment>
                </field>
                <field id="api_cvv_code_whitelist" translate="label" type="text" sortOrder="67" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Approved CVV Response Codes</label>
                    <comment><![CDATA[CVV response codes to be considered as having passed CVV Check, entered as a string (e.g., MSU). An underscore character (_) may be included to allow transactions in the event no CVV response is available.]]></comment>
                </field>
                <field id="api_avs_failed_user_message" translate="label" type="text" sortOrder="68" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>AVS/CVV Check Failure Message</label>
                    <comment><![CDATA[Error displayed to the customer during checkout should the the AVS/CVV check fail.]]></comment>
                </field>
                <field id="api_prod_mode" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Production Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_account_id" translate="label" type="text" sortOrder="75" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Account ID</label>
                    <validate>required-entry validate-digits</validate>
                    <depends>
                        <field id="payment/ripen_vantivintegratedpayments/active">1</field>
                    </depends>
                </field>
                <field id="api_account_token" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Account Token</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="payment/ripen_vantivintegratedpayments/active">1</field>
                    </depends>
                </field>
                <field id="api_acceptor_id" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Acceptor ID</label>
                    <validate>required-entry validate-digits</validate>
                    <depends>
                        <field id="payment/ripen_vantivintegratedpayments/active">1</field>
                    </depends>
                </field>
                <field id="api_terminal_id" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Terminal ID</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="payment/ripen_vantivintegratedpayments/active">1</field>
                    </depends>
                </field>
                <field id="certification_active" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Certification Harness</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_cc_auth_mode_active" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable API Credit Card Authorization</label>
                    <comment><![CDATA[When disabled, no CC pre-auth will take place during Order Checkout, and PaymentAccountCreate will be called instead.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
