<!--@subject Online Payment Information @-->
<!--@vars {} @-->
<p>The following payment information has been submitted by</p>

Customer Account:  {{var erp_customer_id}}<br/>
Customer Name:  {{var firstname}} {{var lastname}}<br/>
Email: {{var email}}<br/>
Credit Card: {{var cc_number}}<br/>
Card Expiration Date: {{var cc_exp_month}}/{{var cc_exp_year}}<br/>
Amount: {{var amount}}<br/>
Transaction: {{var transaction_id}}<br/>

<br/>
On Account: {{var on_account}}<br/><br/>
Applied to Invoices: {{var invoice_numbers}}<br/><br/>
